@model dynamic

@{
	ViewBag.Title = "ezRecSports.com Baseball";
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">
        If Baseball or Softball is your game, you have come to the right place. Whether you want a place for your team to meet
        or run an entire league, we have the site for you.
    </p>
    <p>
        With our intuitive easy to use interface, you can setup your team or league
        to suite your needs. With social site integration, statistics, schedules, announcements, photos, and much more, we have the features
        you need! To get started select from the links below.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Team</h2>
        <p>Track individual teams.</p>
        <a class="btn btn-default" href="@Url.Action("Index", "Team", new { area = "baseball" }, null)">Learn more &raquo;</a>
    </div>

    <div class="col-md-4">
        <h2>League</h2>
        <p>Track your your league.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "League", new { area = "baseball" }, null)">Learn more &raquo;</a></p>
    </div>
</div>
