@model SportsManager.Golf.ViewModels.PlayerViewModel
@using MvcContrib.UI.Grid;

@{
    ViewBag.Title = Model.FullName;
}

@section head
{
<style type="text/css">
.DatePlayedCol
{
    color: Green;
    text-align: left;
}
</style>
}

<h1>@ViewBag.Title</h1>
@Html.ActionLink("Handicap Scores", "Index", "Player", new { accountId = ViewData["AccountId"], seasonId = ViewData["SeasonId"], id = Model.Id }, null)

<h3>All Scores</h3>
@Html.Grid(Model.PlayerScores).Columns(extraCols => 
    {
        extraCols.For(x => x.DatePlayed).Attributes(@class => "DatePlayedCol");
        extraCols.For(x => x.CourseName);
        extraCols.For(x => x.TeesPlayed).Attributes(style => "text-align:center");
        extraCols.For(x => x.TotalScore).Attributes(style => "text-align:center");
    })
