################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Draco/Logs
/Draco/MailMessages
/Draco/obj
/Draco/Bin
/Draco/api
/Draco/Uploads
*.suo
*.user
Thumbs.db
.vs
packages
/Draco/scripts/tinymce/plugins/codesample
/src/Draco
/Backup
