################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Draco.Tests
/Draco.tst
/Flan.Controls
/GolfEnterScore
/GolfLeagueEnterResults
/Tournaments
/Draco/MailMessages
