################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Draco.Tests
/Draco.tst
/Flan.Controls
/GolfEnterScore
/GolfLeagueEnterResults
/Tournaments
/Draco/MailMessages
/Draco/Bin
/Draco/obj
/Draco/App_Data/log
/Draco/Uploads