
@{
    ViewBag.Title = "Email Password Reset";
}

<h2>Email password reset.</h2>
<p>An email has been sent to your account. Follow instructions in the message to finish resetting your password.</p>

