@model SportsManager.Golf.ViewModels.LeagueCreateAccountViewModel

@{
    ViewBag.Title = "Create ezGolfLeague.com Account";
}
<div class="jumbotron" style="background: url('/Images/golf/leaguebackground.jpg') no-repeat #000000; background-size: auto; background-position: right">
    <h1>@ViewBag.Title</h1>
    <h2>Golf League Management made easy.</h2>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @{
                ViewBag.Area = "golf";
                Html.RenderPartial("_CreateAccount");
            }
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

    $(document).ready(function () {
        $('#TimeZone').selectpicker();
        $('#DateOfBirth').datepicker({
            format: 'MM dd, yyyy',
            autoclose: true,
            startView: 2
        });
        $('#DateOfBirth').datepicker("setDate", new Date);
    });

    </script>
}