@model SportsManager.Golf.ViewModels.Controllers.LeagueIndexViewModel

@{
	ViewBag.Title = "Golf League";
}

<div class="jumbotron" style="background: url('/Images/golf/leaguebackground.jpg') no-repeat #000000; background-size: auto; background-position: right">
    <h1>ezGolfLeague.com</h1>
    <h2>Baseball League Management made easy.</h2>
    <p>@Html.ActionLink("Get Started Today!", "CreateAccount", "League", new { area = "baseball" }, new { @class = "btn btn-primary" })</p>
</div>

@using (Html.BeginForm())
{ 
	@Html.DropDownList("accountId", Model.GetGolfLeagues())
	<input type="submit" value="Goto Account" name="Goto Account" />
	 
	<p>Note: to create an account you must log in.</p>
	<p>@Html.ActionLink("Create Account", "CreateAccount", "League", new { area = "golf" }, null)</p>		
}
