@model SportsManager.Baseball.ViewModels.LeagueHomeViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<table width="100%">
<tr><td>
<h1>@Model.AccountName</h1>
</td></tr>
<tr><td>
<h3 background="red">News...</h3>
</td>
</tr>
</table>

