<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    -->
  <connectionStrings>
    <add name="webDBConnection" connectionString="Data Source=ocbsteokjs.database.windows.net;Initial Catalog=ezbaseballleague;User ID=ray;Password=xV47yaQ8;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" />
  </connectionStrings>

  <appSettings>
    <add key="AzureDeployed" value="1" xdt:Transform="Replace"/>
    <add key="StorageProvider" value="AzureBlob" xdt:Transform="Replace"/>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ezbaseballleague;AccountKey=aUXTix7QZQpxTEMIqNJKq4Mqg2jgauyXv6/oPPGuJKu1hyWMajE1YJOq7/e+cpdDA474ZLt103w0UwBx0ujTzg=="  xdt:Transform="Replace"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <sessionState mode="Custom" customProvider="MySessionStateStore" xdt:Transform="Replace">
      <providers>
        <!-- Either use 'connectionString' and provide all parameters as string OR use 'host','port','accessKey','ssl','connectionTimeoutInMilliseconds' and 'operationTimeoutInMilliseconds'. -->
        <!-- 'throwOnError','retryTimeoutInMilliseconds','databaseId' and 'applicationName' can be used with both options. -->
        <!--
          <add name="MySessionStateStore" 
            host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            throwOnError = "true" [true|false]
            retryTimeoutInMilliseconds = "5000" [number]
            databaseId = "0" [number]
            applicationName = "" [String]
            connectionTimeoutInMilliseconds = "5000" [number]
            operationTimeoutInMilliseconds = "1000" [number]
            connectionString = "<valid StackExchange.Redis connection string>" [String]
          />
        -->
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider"
             host="ezbaseballleague.redis.cache.windows.net"
             accessKey="LWWmTYY0EIC9FBwHHMOOuvR68txYhk1/z8h4aunzOnc="
             port="6380"
             ssl="true" />
      </providers>
    </sessionState>

  </system.web>

  <system.net>
    <mailSettings>
      <smtp from="webmaster@ezRecSports.com" xdt:Transform="Replace">
        <network host="smtp.sendgrid.net" password="aj4lpqr3" userName="rwalker123" port="587" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
