@{
    ViewBag.Title = "ezRecSports.com Home";
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">Welcome to the premier site for managing your softball, baseball, and golf teams and leagues.</p>
    <p>Getting started is easy. Pick your sport below and follow the screens to get started today!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Baseball/Softball</h2>
        <p>Track individual teams or entire leagues.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Baseball", new { area = "baseball" }, null)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Golf</h2>
        <p>Track your handicap or manage your entire league.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Golf", new { area = "golf" }, null)">Learn more &raquo;</a></p>
    </div>
</div>