ul.videos li {
    float: left;
    width: 10em;
    margin-bottom: 1em;
}

ul.videos {
    margin-bottom: 1em;
    padding-left: 0em;
    margin-left: 1em;
    list-style: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    width: 160px;
}

.titlec {
  font-size: small;
}


a.welcomeMenuItem:link, a.welcomeMenuItem:visited
{
    font-size: 1.1em;
    font-weight: 300;
    margin: 0 0 5px;
    padding: 10px;
    text-align: right;

    background: none;
    color: #999;
    text-decoration: none;

}

a.welcomeMenuItemSelected:link, a.welcomeMenuItemSelected:visited
{
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 10px;
    text-align: right;

    background: none;
    color: Red;
    text-decoration: none;

}
