
@helper DisplayHeader(String title, String accountName, String accountLogoUrl)
{

    if (String.IsNullOrEmpty(accountLogoUrl))
    {
        <h1 class="noPrint" style="margin-bottom:0px;">@accountName</h1>
    }
    else
    {
        <img class="img-rounded img-responsive noPrint" src="@accountLogoUrl" />
    }


    <h2>@title</h2>
}

