@model dynamic

@{
	DisplayScoreboard(List<ModelObjects.Game> gameList, bool showNoRecords)
        {
            if (gameList.Count > 0)
            {
                foreach (ModelObjects.Game game in gameList)
                {
                    bool hasGameRecap = DataAccess.GameStats.HasGameRecap(game.Id);

                    // game is not complete
                    if (game.GameStatus == 0)
                    {
                        Response.Write("<tr align=\"right\">");
                        Response.Write("<td align=\"left\">");
                        Response.Write("<small>" + DataAccess.Leagues.GetLeagueName(game.LeagueId) + "</small>");
                        Response.Write("</td>");
                        Response.Write("<td align=\"left\" nowrap>");
                        Response.Write("<small><a href=\"Forms/Teams.aspx?leagueId=" + game.LeagueId.ToString() + "&teamId=" + game.AwayTeamId.ToString() + "\">" + DataAccess.Teams.GetTeamName(game.AwayTeamId) + "</a>");
                        Response.Write("&nbsp;at<br><a href=\"Forms/Teams.aspx?leagueId=" + game.LeagueId.ToString() + "&teamId=" + game.HomeTeamId.ToString() + "\">" + DataAccess.Teams.GetTeamName(game.HomeTeamId) + "</a></small>");
                        Response.Write("</td>");
                        Response.Write("<td>");
                        Response.Write("&nbsp;");
                        Response.Write("</td>");
                        Response.Write("<td nowrap>");
                        Response.Write("<small>" + game.GameTime.ToShortTimeString() + "<br><a href=\"Forms/Fields.aspx?id=" + game.FieldId + "\">" + DataAccess.Fields.GetFieldShortName(game.FieldId) + "</a></small>");
                        Response.Write("</td>");
                        Response.Write("</tr>");
                    }
                    else if ((game.GameStatus == 2 /*Rainout*/ || game.GameStatus == 5  /* Did not report */))
                    {
                        Response.Write("<tr align=\"right\">");
                        Response.Write("<td align=\"left\">");
                        Response.Write("<small>" + DataAccess.Leagues.GetLeagueName(game.LeagueId) + "</small>");
                        Response.Write("</td>");
                        Response.Write("\n");
                        Response.Write("<td align=\"left\" nowrap>");
                        Response.Write("<small><a href=\"Forms/Teams.aspx?leagueId=" + game.LeagueId.ToString() + "&teamId=" + game.AwayTeamId.ToString() + "\">" + DataAccess.Teams.GetTeamName(game.AwayTeamId) + "</a>");
                        Response.Write("&nbsp;at<br><a href=\"Forms/Teams.aspx?leagueId=" + game.LeagueId.ToString() + "&teamId=" + game.HomeTeamId.ToString() + "\">" + DataAccess.Teams.GetTeamName(game.HomeTeamId) + "</a></small>");
                        Response.Write("</td>");
                        Response.Write("\n");
                        Response.Write("<td>");
                        Response.Write("&nbsp;");
                        Response.Write("</td>");
                        Response.Write("\n");
                        Response.Write("<td nowrap>");
                        Response.Write("<small>");
                        Response.Write(((game.GameStatus == 2) ? "R" : "DNR"));
                        Response.Write("</small>");
                        Response.Write("</td>");
                        Response.Write("\n");
                        Response.Write("</tr>");
                    }
                    else if (game.GameStatus == 1 /* Final */||
                              game.GameStatus == 3 /* Postponed */ ||
                              game.GameStatus == 4 /* Forfeit */)
                    {
                        Response.Write("<tr align=\"right\">");
                        Response.Write("<td align=\"left\">");
                        Response.Write("<small>" + DataAccess.Leagues.GetLeagueName(game.LeagueId) + "</small>");
                        Response.Write("</td>");
                        Response.Write("\n");
                        Response.Write("<td align=\"left\" nowrap>");
                        Response.Write("<small><a href=\"Forms/Teams.aspx?leagueId=" + game.LeagueId.ToString() + "&teamId=" + game.AwayTeamId.ToString() + "\">" + DataAccess.Teams.GetTeamName(game.AwayTeamId) + "</a>");
                        Response.Write("&nbsp;at<br><a href=\"Forms/Teams.aspx?leagueId=" + game.LeagueId.ToString() + "&teamId=" + game.HomeTeamId.ToString() + "\">" + DataAccess.Teams.GetTeamName(game.HomeTeamId) + "</a></small>");
                        Response.Write("</td>");
                        Response.Write("\n");
                        Response.Write("<td>");
                        Response.Write("<small>");

                        if (game.AwayScore > game.HomeScore)
                        {
                            Response.Write("<b>" + game.AwayScore.ToString() + "</b>");
                        }
                        else
                        {
                            Response.Write(game.AwayScore.ToString());
                        }

                        Response.Write("<br>");

                        if (game.AwayScore < game.HomeScore)
                        {
                            Response.Write("<b>" + game.HomeScore.ToString() + "</b>");
                        }
                        else
                        {
                            Response.Write(game.HomeScore.ToString());
                        }

                        Response.Write("</small>");
                        Response.Write("</td>");
                        Response.Write("\n");
                        Response.Write("<td nowrap>");

                        if (hasGameRecap)
                        {
                            Response.Write("<small><a href=\"javascript:ShowGameSummary(" + game.Id.ToString() + ")\">");
                            Response.Write((game.GameStatus == 1) ? "F" : (game.GameStatus == 3) ? "P" : "FG");
                            Response.Write("</a>");
                        }
                        else
                        {
                            Response.Write("<small>");
                            Response.Write((game.GameStatus == 1) ? "F" : (game.GameStatus == 3) ? "P" : "FG");
                        }

                        Response.Write("</small>");
                        Response.Write("</td>");
                        Response.Write("\n");
                        Response.Write("</tr>");

                    }

                    Response.Write("<tr><td height=\"5px\"></td></tr>");
                    Response.Write("\n");
                }
            }
            else if (showNoRecords)
            {
                Response.Write("<tr><td nowrap=\"noWrap\"><i>No Games Scheduled</i><br /><br /></td></tr>");
            }
        }









=================

