@model SportsManager.Baseball.ViewModels.StandingsViewModel

<div class="container">
    @foreach (var league in Model.Leagues)
    {

        <div class="row">
            <h2>@league.Name</h2>

            @foreach (var d in Model.GetDivisions(league.Id))
            {
                <div class="col-md-4">
                    <table>
                        <thead>
                            <tr>
                                <th>@d.Name</th>
                                <th class="ui-state-highlight">&nbsp;W&nbsp;</th>
                                <th class="ui-state-highlight">&nbsp;L&nbsp;</th>
                                <th class="ui-state-highlight">&nbsp;T&nbsp;</th>
                                <th class="ui-state-highlight">&nbsp;Pct&nbsp;</th>
                                <th class="ui-state-highlight">&nbsp;GB&nbsp;</th>
                                <th class="ui-state-highlight">Div</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var t in Model.GetDivisionStandings(d.Id))
                            {

                                Model.ProcessTeamStanding(t);

                                <tr>
                                    <td class="ui-state-default" style="overflow: hidden; white-space: nowrap;">
                                        @Html.ActionLink(@t.TeamName, "Index", "Team", new { area = "baseball", accountId = Model.AccountId, id = t.TeamId }, null)
                                        &nbsp;&nbsp;
                                    </td>
                                    <td class="ui-state-default">&nbsp;@t.Wins&nbsp;</td>
                                    <td class="ui-state-default">&nbsp;@t.Losses&nbsp;</td>
                                    <td class="ui-state-default">&nbsp;@t.Ties&nbsp;</td>
                                    <td class="ui-state-default">&nbsp;@t.WinningPct.ToString("F3")&nbsp;</td>
                                    <td class="ui-state-default">&nbsp;@Model.GamesBack.ToString("F1")&nbsp;</td>
                                    <td class="ui-state-default">&nbsp;@t.DivisionWins-@t.DivisionLosses-@t.DivisionTies&nbsp;</td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            }

        </div>
    }

</div>