@model bool
@using System.Web.Optimization

<div data-bind="with: editingGameResults">
    <form class="form-horizontal" role="form" style="display:none" data-bind="visible: Id.showResultsForm">
        <h4 class="col-md-offset-3">Enter Game Results</h4>
        <small>
            <span class="col-md-offset-3" data-bind="html: GameDate.DateText() + ' ' + GameDate.TimeText() + ' ' + (FieldName() || '')" />
        </small>
        <div class="form-group">
            <label class="col-md-3 control-label" for="newGameStatus">Game Status:</label>
            <div class="col-md-9">
                <select id="newGameStatus" data-container="body" data-bind="selectPicker: GameStatus">
                    <option value="0">Incomplete</option>
                    <option value="1">Final</option>
                    <option value="2">Rainout</option>
                    <option value="3">Postponed</option>
                    <option value="4">Forfeit</option>
                    <option value="5">Did not report</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="newGameAwayTeamScore" data-bind="html: AwayTeamName"></label>
            <div class="col-md-3" data-bind="validationOptions: { insertMessages: false }">
                <input class="form-control" type="number" id="newGameAwayTeamScore" data-bind="value: AwayScore" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="newGameHomeScore" data-bind="html: HomeTeamName"></label>
            <div class="col-md-3">
                <input class="form-control" type="number" id="newGameHomeTeamScore" data-bind="value: HomeScore" />
            </div>
        </div>
        <div class="form-group">
            <p class="col-md-offset-3 col-md-9 alert alert-danger" data-bind="validationMessage: AwayScore"></p>
            <p class="col-md-offset-3 col-md-9 alert alert-danger" data-bind="validationMessage: HomeScore"></p>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <label class="control-label">
                    <input type="checkbox" data-bind="checked: Id.EmailResult" />
                    Email players result
                </label>
            </div>
            @if (Model)
            {
                <div class="col-md-offset-3 col-md-9">
                    <label class="control-label">
                        <input class="form-control-static" type="checkbox" data-bind="checked: Id.TweetResult" />
                        Tweet result
                    </label>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <span data-bind="html: AwayTeamName"></span> Roster
            </div>
            <div class="col-md-6">
                <span data-bind="html: HomeTeamName"></span> Roster
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <select data-container="body" data-bind="selectPicker: AwayPlayersPresent, selectPickerOptions: { optionsArray: AwayTeamId.roster }, optionsText: 'Name', optionsValue: 'Id'" multiple title="select players present..." data-selected-text-format="count"></select>
            </div>
            <div class="col-md-6">
                <select data-container="body" data-bind="selectPicker: HomePlayersPresent, selectPickerOptions: { optionsArray: HomeTeamId.roster }, optionsText: 'Name', optionsValue: 'Id'" multiple title="select players present..." data-selected-text-format="count"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-success" type="button" data-bind="click: $root.updateGameResult"><span class="glyphicon glyphicon-ok"></span></button>
                <button class="btn btn-danger" type="button" data-bind="click: $root.cancelUpdateGameResult"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </form>
</div>

