@model SportsManager.Baseball.ViewModels.LeadersViewModel

<div class="panel panel-default" id="leaders">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Leaders</h3>

        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float: right" ><span class="glyphicon glyphicon-plus"></span></button>
        }

        <div style="clear:both"></div>
    </div>

    <div class="panel-body">
        @Html.ActionLink("Statistics", "TeamStatistics", "Index", new { id = Model.TeamSeasonId }, new { @class = "btn btn-info" })
    </div>
</div>