@model SportsManager.Baseball.ViewModels.LeadersViewModel

<div class="panel panel-default" id="leadersView">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Leaders</h3>

        @if (Model.IsAdmin && Model.TeamSeasonId == 0)
        {
            <button type="button" class="btn btn-default" style="float: right" data-bind="click: toggleEditMode"><span class="glyphicon glyphicon-edit"></span></button>
        }

        <div style="clear:both"></div>
    </div>

    <div class="panel-body">

        @if (Model.IsAdmin && Model.TeamSeasonId == 0)
        {
            <form class="form" role="form" data-bind="visible: editMode">
                <div class="form-group">
                    <label for="_leadersBatCats" class="control-label">Select Bat Categories: </label>
                    <select id="_leadersBatCats" data-container="body" data-bind="selectPicker: selectedBatCategories, selectPickerOptions: { optionsArray: availableBatCategories }, optionsText: 'Name', optionsValue: 'Id'" multiple title="select categories..." >
                    </select>
                    <div data-bind="if: selectedBatCategories().length > 3">
                        <div class="alert alert-danger">Only 3 categories allowed.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="_leadersPitchCats" class="control-label">Select Pitch Categories: </label>
                    <select id="_leadersPitchCats" data-container="body" data-bind="selectPicker: selectedPitchCategories, selectPickerOptions: { optionsArray: availablePitchCategories }, optionsText: 'Name', optionsValue: 'Id'" multiple title="select categories..." >
                    </select>
                    <div data-bind="if: selectedPitchCategories().length > 3">
                        <div class="alert alert-danger">Only 3 categories allowed.</div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" data-bind="click: saveChanges"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-danger" data-bind="click: cancelChanges"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </form>
        }

        <div data-bind="visible: !editMode()">
            @if (Model.TeamSeasonId == 0)
            {
                <select data-container="body" data-bind="selectPicker: selectedLeagueId">
                    @if (!Model.Leagues.Any())
                    {
                        <option value="0">No Leagues Found</option>
                    }
                    else
                    {
                        foreach (var l in Model.Leagues)
                        {
                            <option value="@l.Id">@l.Name</option>
                        }
                    }
                </select>
            }

            <ul class="nav nav-pills">
                <!-- ko if: batCategories().length -->
                <li class="active"><a href="#batting" data-toggle="tab">Batting</a></li>
                <!-- /ko -->
                <!-- ko if: pitchCategories().length -->
                <li><a href="#pitching" data-toggle="tab">Pitching</a></li>
                <!-- /ko -->
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="batting" data-bind="if: batCategories().length">
                    <ul class="nav nav-tabs" data-bind="foreach: batCategories">
                        <li data-bind="css: { active: $index() == 0 }"><a data-bind="attr: { href: '#battingleader_' + $index() }" data-toggle="tab"><small data-bind="html: Name"></small></a></li>
                    </ul>
                    <div class="tab-content" data-bind="foreach: batCategories">
                        <div class="tab-pane fade" data-bind="attr: { id: 'battingleader_' + $index() }, css: {'in active': $index() == 0}">
                            <div data-bind="if: !Leaders().length">
                                <div class="alert alert-warning">no leaders found</div>
                            </div>
                            <div class="table-responsive" data-bind="if: Leaders().length">
                                <table class="table table-striped">
                                    <tbody data-bind="foreach: Leaders">
                                        <tr>
                                            <!-- ko if: FieldName == "TIE" -->
                                            <td></td>
                                            <td data-bind="html: FieldName"></td>
                                            <td><span data-bind="html: TieCount"></span> Players</td>
                                            <!-- /ko -->
                                            <!-- ko if: FieldName != "TIE" -->
                                            <td><img width="40" height="30" onerror="this.style.display = 'none';" data-bind='attr: { src: PlayerName.PhotoURL }' class="img-rounded" /></td>
                                            <td><a data-bind="trimText: PlayerName.LastName, trimTextLength: 10, attr: { title: PlayerName.FirstName + ' ' + PlayerName.LastName, href: window.config.rootUri + '/baseball/player/season/@Model.AccountId/' + PlayerId }"></a></td>
                                            <td><a data-bind="trimText: TeamName, trimTextLength: 10, attr: { title: TeamName, href: window.config.rootUri + '/Baseball/Team/Index/@Model.AccountId/' + TeamId }"></a></td>
                                            <!-- /ko -->
                                            <td data-bind="html: FieldTotal"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pitching">
                    <ul class="nav nav-tabs" data-bind="foreach: pitchCategories">
                        <li data-bind="css: { active: $index() == 0 }"><a data-bind="attr: { href: '#pitchingleader_' + $index() }" data-toggle="tab"><small data-bind="html: Name"></small></a></li>
                    </ul>
                    <div class="tab-content" data-bind="foreach: pitchCategories">
                        <div class="tab-pane fade" data-bind="attr: { id: 'pitchingleader_' + $index() }, css: {'in active': $index() == 0}">
                            <div data-bind="if: !Leaders().length">
                                <div class="alert alert-warning">no leaders found</div>
                            </div>
                            <div class="table-responsive" data-bind="if: Leaders().length">
                                <table class="table table-striped">
                                    <tbody data-bind="foreach: Leaders">
                                        <tr>
                                            <!-- ko if: FieldName == "TIE" -->
                                            <td></td>
                                            <td data-bind="html: FieldName"></td>
                                            <td><span data-bind="html: TieCount"></span> Players</td>
                                            <!-- /ko -->
                                            <!-- ko if: FieldName != "TIE" -->
                                            <td><img width="40" height="30" onerror="this.style.display = 'none';" data-bind='attr: { src: PlayerName.PhotoURL }' class="img-rounded" /></td>
                                            <td><a data-bind="trimText: PlayerName.LastName, trimTextLength: 10, attr: { title: PlayerName.FirstName + ' ' + PlayerName.LastName, href: window.config.rootUri + '/baseball/player/season/@Model.AccountId/' + PlayerId }"></a></td>
                                            <td><a data-bind="trimText: TeamName, trimTextLength: 10, attr: { title: TeamName, href: window.config.rootUri + '/Baseball/Team/Index/@Model.AccountId/' + TeamId }"></a></td>
                                            <!-- /ko -->
                                            <td data-bind="html: FieldTotal"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.TeamSeasonId > 0)
            {
                @Html.ActionLink("statistics page", "statistics", "team", new { accountId = Model.AccountId, id = Model.TeamSeasonId }, new { @class = "btn btn-info" })
            }
            else
            {
                @Html.ActionLink("Statistics", "index", "statistics", new { accountId = Model.AccountId }, new { @class = "btn btn-info" })
            }
        </div>
    </div>
</div>