@model SportsManager.Baseball.ViewModels.RosterViewModel

<div class="panel panel-primary" id="roster">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Roster</h3>

        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float: right" data-bind="click: showSignPlayer" title="sign player"><span class="glyphicon glyphicon-pencil"></span></button>
            <a href='@Url.Action("AddressList", "Team", new { area = "baseball", accountId = Model.AccountId, id = Model.TeamId }, null)' style="float: right" class="btn btn-default" title="address list">
                <span class="glyphicon glyphicon-list-alt"></span>
            </a>
        }

        <div style="clear:both"></div>
    </div>

    <div class="panel-body">

        @if (Model.IsAdmin)
        {
            <div class="modal fade" id="deletePlayerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Confirm Delete Player</h4>
                        </div>
                        <div class="modal-body">
                            You are about to delete a player. All data associated with the player will be permanently deleted. You cannot undo this operation. Are you sure you want to continue?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmPlayerDeleteBtn">Continue</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            //Sign an existing player
            <div class="row">
                <form data-bind="visible: signPlayerVisible">
                    <div class="form-group">
                        <label class="control-label">enter a player name to sign</label>
                        <div class="col-sm-10">
                            <input type="text" class="autocomplete form-control" data-bind="autocomplete: { source: getPlayers, select: selectPlayer, minLength: 1 }" />
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" data-bind="click: signPlayer, enable: isPlayerSelected"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="row">
                <div class="help-block">
                    If you don't find the player in your search:
                    <ol>
                        <li>Ensure the player is not already on another team in the league.</li>
                        <li>Ensure the player exists as a user, you can add new <a class="btn btn-success" href="@Url.Action("Users", "Account", new { area = "", accountId = Model.AccountId }, null)">Users &raquo;</a>.</li>
                    </ol>
                </div>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>No</th>
                        <th>Name</th>
                        @if (Model.IsAdmin)
                        {
                            <th>Age</th>
                            <th>Signed</th>
                            <th>Actions</th>
                        }
                    </tr>
                </thead>
                <tbody data-bind="foreach: players">
                    <tr>
                        <td class="col-sm-1"><img @if (!Model.IsAdmin) { <text> onerror="this.style.display = 'none';" </text>  } else { <text> alt="drop photo" onerror="this.style.width = '80px'; this.style.height='45px';" </text>  } data-bind="imageUploader: fileUploaderUrl, attr: { src: PhotoUrl }" class="img-rounded" /></td>
                        <td class="col-sm-2">
                            <span data-bind="visible: viewMode() && !editPlayerNumber(), html: PlayerNumber"></span>
                            @if (Model.IsAdmin || Model.IsTeamAdmin)
                            {
                                <input class="form-control" data-bind="value: PlayerNumber, visible: !viewMode() || editPlayerNumber()" type="number" />
                                if (!Model.IsAdmin)
                                {
                                <button class="btn btn-default btn-sm" data-bind="visible: !editPlayerNumber(), click: editPlayerNumberMode"><span class="glyphicon glyphicon-edit"></span></button>
                                <button class="btn btn-success btn-xs" data-bind="visible: editPlayerNumber, click: $parent.editPlayerNumber"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-danger btn-xs" data-bind="visible: editPlayerNumber, click: cancelEditPlayerNumber"><span class="glyphicon glyphicon-remove"></span></button>
                                }
                            }
                        </td>
                        <td @if (Model.IsAdmin) { <text> class="col-sm-4" </text>    } else if (Model.IsTeamAdmin) { <text> class="col-sm-6" </text>   } else { <text> class="col-sm-8" </text>    }>
                            <span data-bind="html: Name"></span>
                            @if (Model.IsAdmin)
                            {
                                <form class="form-horizontal" role="form">
                                    @if (Model.ShowWaiverStatus)
                                    { 
                                    <div class="form-group" style="margin:0px">
                                        <div class="checkbox">
                                            <div class="col-sm-12">
                                                <label>
                                                    @if (Model.TrackPlayerWaiver)
                                                    { 
                                                    <input type="checkbox" data-bind="checked: SubmittedWaiver, uniqueId: id, visible: !viewMode()" />
                                                    }
                                                    Waiver
                                                    <span style="margin-left:10px" data-bind="visible: viewMode, html: SubmittedWaiver() ? 'yes' : 'no'"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    
                                    @if (Model.ShowIdStatus)
                                    { 
                                    <div class="form-group" style="margin: 0px">
                                        <div class="checkbox">
                                            <div class="col-sm-12">
                                                <label>
                                                    @if (Model.TrackIdSubmitted)
                                                    { 
                                                    <input type="checkbox" data-bind="checked: SubmittedDriversLicense, uniqueId: id, visible: !viewMode()" />
                                                    }
                                                    License
                                                    <span style="margin-left:4px" data-bind="visible: viewMode, html: SubmittedDriversLicense() ? 'yes' : 'no'"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    <div class="form-group">
                                        <label class="col-sm-5" data-bind="uniqueFor: id">Aff. Dues</label>
                                        <div class="col-sm-7">
                                            <span data-bind="visible: viewMode(), html: AffiliationDuesPaid"></span>
                                            <input type="text" class="form-control" data-bind="value: AffiliationDuesPaid, uniqueId: id, visible: !viewMode()" />
                                        </div>
                                    </div>
                                </form>
                            }
                        </td>

                        @if (Model.IsAdmin)
                        {
                            <td class="col-sm-1" data-bind="html: Age">
                            </td>

                            <td class="col-sm-2">
                                <span data-bind="html: DateSigned"></span>
                            </td>
                            <td class ="col-sm-1">
                                <button class="btn btn-default btn-sm" data-bind="visible: viewMode, click: $parent.editPlayer"><span class="glyphicon glyphicon-edit"></span></button>
                                <button class="btn btn-warning btn-sm" data-bind="visible: viewMode, click: $parent.releasePlayer"><span class="glyphicon glyphicon-minus"></span></button>
                                <button class="btn btn-danger btn-sm" data-bind="visible: viewMode, click: $parent.deletePlayer"><span class="glyphicon glyphicon-remove"></span></button>

                                <button class="btn btn-success btn-sm" data-bind="visible: !viewMode(), click: $parent.savePlayer"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-danger btn-sm" data-bind="visible: !viewMode(), click: $parent.cancelEditPlayer"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
