@model SportsManager.Baseball.ViewModels.ScoreboardViewModel

@using System.Collections.Generic;
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Scoreboard</h3>
    </div>

    <div class="panel-body" id="scoreboardView">
        <div class="modal fade" id="gameRecapModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Game Recap</h4>
                    </div>
                    <div class="modal-body" style="max-height: 400px;overflow:auto">
                        <ul id="statsTab" class="nav nav-tabs">
                            <li class="active"><a href="#homeTeam" data-toggle="tab"><span data-bind="html: homeTeamName"></span></a></li>
                            <li><a href="#awayTeam" data-toggle="tab"><span data-bind="html: awayTeamName"></span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="homeTeam">
                                <span data-bind="html: homeGameSummary"></span>
                            </div>
                            <div class="tab-pane fade" id="awayTeam">
                                <span data-bind="html: awayGameSummary"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.IsAdmin)
        {
            <div class="modal fade" id="gameResultsModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Enter Game Results</h4>
                        </div>
                        <div class="modal-body" style="max-height: 480px;overflow:auto">
                            @{Html.RenderPartial("EnterGameResults", true); }
                        </div>
                    </div>
                </div>
            </div>

        }
        <!-- ko if: scheduledGames().length == 0 -->
        <div class="alert alert-warning">No scheduled games.</div>
        <!-- /ko -->
        <!-- ko if: scheduledGames().length > 0 -->
        <div class="table-responsive">
            <table class="table" data-bind="foreach: scheduledGames">
                <thead>
                    <tr>
                        <th colspan="4"><span data-bind="html: title"></span></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: games">
                    <tr>
                        <td>
                            <span data-bind="html: LeagueName"></span>
                        </td>
                        <td>
                            <a data-bind="attr: { href:'@Url.Content("~/")baseball/team/index/@Model.AccountId/' + AwayTeamId() }"><span data-bind="trimText: AwayTeamName, trimTextLength: 12, attr: {title: AwayTeamName}"></span></a><br />
                            <a data-bind="attr: {href: '@Url.Content("~/")baseball/team/index/@Model.AccountId/' + HomeTeamId() }"><span data-bind="trimText: HomeTeamName, trimTextLength: 12, attr: {title: HomeTeamName}"></span></a>
                        </td>
                        <td>
                            <!-- ko if: GameStatus() == 0 -->
                            <span data-bind="html: GameDate.TimeText"></span><br>
                            <a data-bind="attr: {href: '@Url.Content("~/")baseball/fields/index/@Model.AccountId/' + FieldId() }"><span data-bind="html: FieldName"></span></a>
                            <!-- /ko -->
                            <!-- ko if: GameStatus() == 2 || GameStatus() == 5 -->
                            <span data-bind="html: GameStatus.Text"></span>
                            <!-- /ko -->
                            <!-- ko if: GameStatus() == 1 || GameStatus() == 3 || GameStatus() == 4 -->
                            <span data-bind="html: AwayScore, style: { 'font-weight': AwayScore() > HomeScore() ? 'bold' : 'normal' }"></span>
                            <br />
                            <span data-bind="html: HomeScore, style: { 'font-weight': AwayScore() < HomeScore() ? 'bold' : 'normal' }"></span>
                            <!-- /ko -->
                            <!-- ko if: HasGameRecap -->
                            <br />
                            <a class="btn btn-success btn-xs" data-bind="click: $root.popupGameRecap">recap</a>
                            <!-- /ko -->
                            @if (Model.IsAdmin)
                            {
                                <a class="btn btn-default btn-xs" title="enter game results" data-bind="click: $root.popupGameResults"><span class="glyphicon glyphicon-bullhorn"></span></a>
                            }
                        </td>
                        <!-- ko if: GameStatus() == 1 || GameStatus() == 3 || GameStatus() == 4 -->
                        <td>
                            <span data-bind="html: GameStatus.Text"></span>
                        </td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /ko -->
    </div>
</div>

