@model SportsManager.Baseball.ViewModels.ScoreboardViewModel

@using System.Collections.Generic;

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Scoreboard</h3>
    </div>

    <div class="panel-body" id="scoreboardView">
        <div class="table-responsive">
            <table class="table" data-bind="foreach: scheduledGames">
                <thead>
                    <tr>
                        <th colspan="4"><span data-bind="html: title"></span></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: games">
                    <tr>
                        <td>
                            <span data-bind="html: LeagueName"></span>
                        </td>
                        <td>
                            <a><span data-bind="trimText: AwayTeamName, trimTextLength: 10, attr: {title: AwayTeamName}"></span></a><br />
                            <a><span data-bind="trimText: HomeTeamName, trimTextLength: 10, attr: {title: HomeTeamName}"></span></a>
                        </td>
                        <td>
                            <!-- ko if: GameStatus() == 0 -->
                            <span data-bind="html: GameDate.TimeText"></span><br>
                            <a><span data-bind="html: FieldName"></span></a>
                            <!-- /ko -->
                            <!-- ko if: GameStatus() == 2 || GameStatus() == 5 -->
                            <span data-bind="html: GameStatus.Text"></span>
                            <!-- /ko -->
                            <!-- ko if: GameStatus() == 1 || GameStatus() == 3 || GameStatus() == 4 -->
                            <span data-bind="html: AwayScore, style: { 'font-weight': AwayScore() > HomeScore() ? 'bold' : 'normal' }"></span>
                            <br />
                            <span data-bind="html: HomeScore, style: { 'font-weight': AwayScore() < HomeScore() ? 'bold' : 'normal' }"></span>
                            <!-- /ko -->
                            <!-- ko if: HasGameRecap -->
                            <br />
                            <a class="btn btn-success btn-xs">recap</a>
                            <!-- /ko -->
                        </td>
                        <!-- ko if: GameStatus() == 1 || GameStatus() == 3 || GameStatus() == 4 -->
                        <td>
                            <span data-bind="html: GameStatus.Text"></span>
                        </td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

