@model SportsManager.Baseball.ViewModels.ManagersViewModel

<div class="panel panel-primary" id="teamManagers">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Managers</h3>

        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float: right" data-bind="click: addManagerMode"><span class="glyphicon glyphicon-plus"></span></button>
        }

        <div class="clearfix"></div>
    </div>

    <div class="panel-body">
        @if (Model.IsAdmin)
        {
            <div class="row">
                <form style="display:none" data-bind="visible: !viewMode()">
                    <div class="form-group">
                        <label class="control-label">enter a manager name</label>
                        <div class="col-sm-10">
                            <input type="text" class="autocomplete form-control" data-bind="autocomplete: { source: getAvailableManagers, select: selectPlayer, minLength: 1 }" />
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" data-bind="click: addManager, enable: isPlayerSelected"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" style="display:none" data-bind="visible: !viewMode()">
                <div class="help-block">
                    If you don't find the manager in your search:
                    <ol>
                        <li>Ensure the manager is not already on another team in the league.</li>
                        <li>Ensure the manager exists as a user, you can add new <a class="btn btn-success" href="@Url.Action("Users", "Account", new { area = "", accountId = Model.AccountId }, null)">Users &raquo;</a>.</li>
                    </ol>
                </div>
            </div>
        }

        <div data-bind="foreach: managers">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-sm-4">
                    <img @if (!Model.IsAdmin) { <text> onerror="this.style.display = 'none';" </text>   } else { <text> alt="drop photo" onerror="this.style.width = '80px'; this.style.height='45px';" </text>   } data-bind="imageUploader: fileUploaderUrl, attr: { src: PhotoURL }" class="img-rounded" />
                </div>
                <div class="col-sm-8">
                    @if (Model.IsAdmin)
                    {
                        <button class="btn btn-warning pull-right" data-bind="click: $parent.removeManager"><span class="glyphicon glyphicon-minus"></span></button>
                    }
                    <address>
                        <strong><span data-bind="html: name"></span></strong><br />
                        @if (Model.IsAdmin || Model.IsTeamAdmin || Model.IsTeamMember)
                        { 
                            <!--ko if: Email -->
                            <a data-bind="attr: { href: 'mailto:' + Email()}">EMail</a><br />
                            <!--/ko-->
                            <!--ko if: Phone1 -->
                            <abbr title="Cell Phone">C:</abbr> <span data-bind="html: Phone1"></span><br />
                            <!--/ko-->
                            <!--ko if: Phone2 -->
                            <abbr title="Home Phone">H:</abbr> <span data-bind="html: Phone2"></span><br />
                            <!--/ko-->
                            <!--ko if: Phone3 -->
                            <abbr title="Work Phone">W:</abbr> <span data-bind="html: Phone3"></span><br />
                            <!--/ko-->
                        }
                    </address>
                </div>
            </div>
        </div>

        @if (Model.IsAdmin || Model.IsTeamAdmin)
        { 
            if (Model.ShowLineupCard)
            { 
                @Html.ActionLink("Printable Lineup Card", "rostercard", "team", new { area = "baseball", accountId = Model.AccountId, id = Model.TeamSeasonId }, new { @class = "btn btn-info" })
            }
            <a href='@Url.Action("statistics", "team", new { accountId = Model.AccountId, Id = Model.TeamSeasonId })' class="btn btn-primary">Enter Game Stats</a>
        }
    </div>
</div>
