@model SportsManager.Baseball.ViewModels.Controllers.WorkoutsViewModel

@using System.Collections.Generic;

<div class="panel panel-primary" id="workouts">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Workouts</h3>

        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float: right" data-bind="click: showPreviousWorkouts" title="toggle show past workouts"><span class="glyphicon glyphicon-expand"></span></button>
            <button type="button" class="btn btn-default" style="float: right; margin-right: 4px" data-bind="click: startWorkoutWhereHeardEdit" title="where heard options"><span class="glyphicon glyphicon-headphones"></span></button>
            <button type="button" class="btn btn-default" style="float: right; margin-right: 4px" data-bind="click: startWorkoutAdd" title="add new workout"><span class="glyphicon glyphicon-plus"></span></button>
        }

        <div style="clear:both"></div>
    </div>

    <div class="panel-body">

        @if (Model.IsAdmin)
        {
            <div class="modal fade" id="deleteWorkoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Confirm Delete Workout</h4>
                        </div>
                        <div class="modal-body">
                            You are about to delete a workout. All data associated with the workout and registrations will be permanently deleted. You cannot undo this operation. Are you sure you want to continue?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmWorkoutDeleteBtn">Continue</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteWorkoutRegModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Confirm Delete Workout Registrant</h4>
                        </div>
                        <div class="modal-body">
                            You are about to delete a workout registrant. You cannot undo this operation. Are you sure you want to continue?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmWorkoutRegDeleteBtn">Continue</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <form class="form-horizontal" style="display:none" data-bind="visible: editWhereHeard">
                <div class="form-group">
                    <div class="col-sm-10">
                        <ul class="list-group" data-bind="foreach: whereHeardOptions">
                            <li class="list-group-item">
                                <span data-bind="html: $data"></span>
                                <button class="btn btn-danger pull-right" data-bind="click: $parent.removeWhereHeard" title="delete option"><span class="glyphicon glyphicon-remove"></span></button>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="workoutWhere" class="sr-only"></label>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control" id="workoutWhere" data-bind="value: newWhereHeardName" placeholder="add new where heard (ex: google)" />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-success" data-bind="click: addNewWhereHeard" title="add option"><span class="glyphicon glyphicon-ok"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <form class="form-horizontal" id="workoutEditForm" style="margin-left: 5px;display:none" data-bind="visible: !viewMode(), with: currentEditWorkout">
                <div class="form-group">
                    <label for="WorkoutTitle" class="control-label col-sm-2">title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" data-bind="value: Description, valueUpdate: 'input' " id="WorkoutTitle" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkoutDate" class="control-label col-sm-2">date</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" data-bind="datepicker: WorkoutDate.DateText, datepickerOptions: {format: 'M dd, yyyy', autoclose: true, startView: 1 }" id="WorkoutDate" />
                    </div> 
                </div>
                <div class="form-group">
                    <label for="WorkoutTime" class="control-label col-sm-2">time</label>
                    <div class="col-sm-8">
                        <div class="bootstrap-timepicker">
                            <input id="WorkoutTime" class="form-control add-on" data-bind="timepicker: WorkoutDate.TimeText, timepickerOptions: {template: false, minuteStep: 5, showInputs: false}" type="text" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkoutField" class="control-label col-sm-2">location</label>
                    <div class="col-sm-10">
                        <select data-container="body" id="WorkoutField" data-bind="selectPicker: WorkoutLocation, selectPickerOptions: { optionsArray: $parent.workoutAvailableFields }, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Choose field...'"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="WorkoutDescription" class="control-label col-sm-2">description</label>
                    <div class="col-sm-10">
                        <textarea id="workoutEditor" data-bind="wysiwyg: Comments, wysiwygConfig: { height: 300, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' } "></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="button" class="btn btn-primary" data-bind="click: $parent.addNewWorkout" title="save changes"><span class="glyphicon glyphicon-ok"></span></button>
                        <button type="button" class="btn btn-danger" data-bind="click: $parent.cancelEditMode" title="cancel changes"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </form>             
        }
        
    <ul class="list-group" data-bind="foreach: workouts, visible: !editWorkoutMode()">
        <li class="list-group-item">
            @if (Model.IsAdmin)
            { 
                <a class="badge" data-bind="click: editRegistrants"><span data-bind="html: NumRegistered"></span> registered</a>
            }
            <h3 data-bind="html: Description"></h3>
            <div class="alert alert-info">
                <h4 data-bind="html: WorkoutDate.DisplayDate"></h4>
                <a class="btn btn-info" data-bind="visible: WorkoutLocation, attr: { href: fieldUrl }"><span data-bind="html: WorkoutLocation.WorkoutField"></span></a>
            </div>
            <p data-bind="html: Comments, visible: viewMode"></p>
            @if (Model.IsAdmin)
            {
                <form data-bind="visible: sendEmail">
                    <div class="form-group">
                        <label for="" class="control-label">subject</label>
                        <input data-bind="value: emailSubject" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">message</label>
                        <textarea data-bind="attr: { id: Id() + '_workoutEmailEditor' }, wysiwyg: emailText, wysiwygConfig: { height: 300, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' }"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-bind="click: sendEmailToRegistrants" title="email registrants"><span class="glyphicon glyphicon-ok"></span></button>
                        <button type="button" class="btn btn-danger" data-bind="click: cancelSendEmail" title="cancel sending email"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>

                </form>

                <form class="form-horizontal" data-bind="visible: editRegistrantsMode() && !registerForWorkout()">
                    <div class="form-group">
                        <button class="btn btn-default" data-bind="click: stopRegistrantEdit" title="done editing registrants">Done Editing Registrants</button>
                    </div>
                    <h4>Registrants</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered" >
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Contact</th>
                                    <th>Positions</th>
                                    <th>Where Heard</th>
                                </tr>
                            </thead>
                            <tbody data-bind ="foreach: workoutRegistrants">
                                <tr>
                                    <td >
                                        <span data-bind="html: Name"></span><br />
                                        Age: <span data-bind="html: Age"></span><br />
                                        Manage: <span data-bind="html: WantToManage() ? 'Yes' : 'No'"></span>
                                    </td>
                                    <td>
                                        <span data-bind="html: Email"></span><br />
                                        <span data-bind="html: Phone1"></span>
                                    </td>
                                    <td data-bind="html: Positions"></td>
                                    <td data-bind="html: WhereHeard"></td>
                                    <td>
                                        <button class="btn btn-default btn-sm" data-bind="click: $parent.editRegistrant" title="edit registrant"><span class="glyphicon glyphicon-edit"></span></button>
                                        <button class="btn btn-danger btn-sm" data-bind="click: $parent.removeRegistrant" title="permantly delete registrant"><span class="glyphicon glyphicon-remove"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                
                <div data-bind="visible: viewMode">
                    <button type="button" class="btn btn-info" data-bind="click: sendEmailMode, visible: NumRegistered() > 0" title="send email to registrants"><span class="fa fa-envelope"></span></button>
                    <button type="button" class="btn btn-default" data-bind="click: exportRegistrants, visible: NumRegistered() > 0" title="export registrant list to excel"><span class="glyphicon glyphicon-export"></span></button>

                    @if (!String.IsNullOrEmpty((String)ViewData["TwitterAccountName"]))
                    {
                        <button type="button" class="btn btn-info" data-bind="click: $parent.postTwitter" title="announce workout on Twitter"><span class="fa fa-twitter"></span></button>
                    }
                    
                    <button type="button" class="btn btn-default" data-bind="click: $parent.editWorkout" title="edit workout"><span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button" class="btn btn-danger" data-bind="click: $parent.deleteWorkout" title="permantly delete workout"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            }
            <form class="form-horizontal" data-bind="visible: registerForWorkout, with: registerData">
                <h3>Register for <span data-bind="html: $parent.Description"></span></h3>
                <div class="form-group">
                    <label data-bind="uniqueFor: $parent.Id" class="control-label col-sm-2">name</label>
                    <div class="col-sm-10">
                        <input data-bind="uniqueId: $parent.Id, value: Name" id="registerWorkout_Name" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label data-bind="uniqueFor: $parent.Id" class="control-label col-sm-2">age</label>
                    <div class="col-sm-10">
                        <input data-bind="uniqueId: $parent.Id, value: Age" type="number" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label data-bind="uniqueFor: $parent.Id" class="control-label col-sm-2">positions</label>
                    <div class="col-sm-10">
                        <input data-bind="uniqueId: $parent.Id, value: Positions" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label data-bind="uniqueFor: $parent.Id" class="control-label col-sm-2">phone</label>
                    <div class="col-sm-10">
                        <input data-bind="phoneNumber: Phone1, uniqueId: $parent.Id" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label data-bind="uniqueFor: $parent.Id" class="control-label col-sm-2">email</label>
                    <div class="col-sm-10">
                        <input data-bind="uniqueId: $parent.Id, value: Email" type="email" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label data-bind="uniqueFor: $parent.Id" class="control-label col-sm-2">where heard</label>
                    <div class="col-sm-10">
                        <select data-bind="uniqueId: $parent.Id, selectPicker: WhereHeard, selectPickerOptions: {optionsArray: $root.whereHeardOptions}" data-container=" body"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10">
                        <label class="control-label"><input type="checkbox" data-bind="checked: WantToManage" /> interested in managing</label>
                    </div>
                </div>
                                        
                <button type="button" class="btn btn-success" data-bind="click: $parent.registerWorkoutData" title="save changes"><span class="glyphicon glyphicon-ok"></span></button> 
                <button type="button" class="btn btn-danger" data-bind="click: $parent.endRegisterForWorkout" title="cancel changes"><span class="glyphicon glyphicon-remove"></span></button>
            </form>
            @if (!Model.IsAdmin)
            {
                <button type="button" data-bind="visible: !registerForWorkout(), click: startRegisterForWorkout" class="btn btn-success">Register for <span data-bind="html: Description"></span></button>
            }
        </li>
    </ul>
    </div>
</div>

