@model dynamic

@{
	ViewBag.Title = "Teams";
}

<h1>@ViewBag.Title</h1>

@Html.DropDownList("Leagues", null, new Dictionary<string, object> { { "id", "leagues" } })
<br />

<div id="teams_grid">

</div>


<a href="javascript:createTeam()">Create Team</a>

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {

        $("#leagues").change(
			function () {
			    loadTeams(this.value);
			}
		);

        if ($("#leagues option").length > 0) {
            loadTeams($("#leagues").val());
        }
    });

	function loadTeams(leagueSeasonId) {

	    var url = '@Url.Action("GetTeamsGrid", "Teams")' + '/@ViewBag.AccountId/@ViewBag.SeasonId/' + leagueSeasonId;

	    $.ajax({
	        type: "GET",
	        url: url,
	        success: function (msg) {
	            $("#teams_grid").html(msg);
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	            alert("Caught error: Status: " + xhr.status + ". Error: " + thrownError + ". Url: " + url);
	        } 
	    });

	}

	function createTeam() {
		url = '@Url.Action("Create", "Teams", new { accountId = ViewBag.AccountId, id = ViewBag.SeasonId })' + '/' + $("#leagues").val();
		window.location = url;
	}
</script>
}