@model IEnumerable<SportsManager.Golf.ViewModels.TeamViewModel>
@using MvcContrib.UI.Grid;

<div id="BasicGrid">

@Html.Grid(Model).AutoGenerateColumns().Columns(extraCols => 
    {
        extraCols.For(x => Html.ActionLink("edit", "Edit", new { accountId = x.AccountId, seasonId = x.SeasonId, id = x.TeamSeasonId }));
        extraCols.For(x => Html.ActionLink("delete", "Delete", new { accountId = x.AccountId, seasonId = x.SeasonId, id = x.TeamSeasonId }));
    })

</div>
