<p>Add Catpa(sp), cancel button</p>

@{
    Html.EnableClientValidation();   
}

@using (Html.BeginForm()) {

    @Html.EditorForModel()
                          
	<input type="submit" value="Create" />@Html.ActionLink("Cancel", "Index", "League", new { area = (string)ViewBag.Area }, null)
}

