@using System.Configuration;

<div id="fb-root"></div>
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>

<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '@ConfigurationManager.AppSettings["FacebookAppId"]',
            cookie: true,
            status: true,
            xfbml: true
        });

        FB.Event.subscribe('auth.sessionChange', function (response) {
            if (response.session) {
                login();
            } else {
                logout();
            }

        });

        FB.api('/me', function (user) {
            if (user != null && user.id != null) {
                var image = document.getElementById('image');
                if (image != null) {
                    image.src = 'http://graph.facebook.com/' + user.id + '/picture';
                    var name = document.getElementById('name');
                    name.innerHTML = user.name
                }
            }
        });
    };

    function login() {
        var url = '@Url.Action("FacebookLogon", "Account", new { returnUrl = Model.ReturnUrl })';  
        $.post(url, null, function (data) {
            window.location = window.location.href.toString();
        });
    }

    function logout() {
        var url = "/account/logoff";
        $.post(url, null, function (data) {
            window.location = window.location.href.toString();
        });
    }
        
</script>

@if (Request.IsAuthenticated) {
    <text>
    <div style="text-align:right">
        <img alt="" src="" id="image" />
        <div style="color:Black;" id="name"></div>
    </div>
    <fb:login-button autologoutlink="true" showfaces="true" size="small">Log Out</fb:login-button></text>
}
else {
    <text><fb:login-button size="small" perms="email" autologoutlink="true">Login</fb:login-button></text>
} 
