@model SportsManager.ViewModels.AnnouncementsViewModel

@if (!Model.HasAnnouncements && !Model.IsAdmin)
{
    return;
}
<div class="panel panel-info" id="announcements">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Announcements</h3>
        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float:right" data-bind="click: startNewsAdd"><span class="glyphicon glyphicon-plus"></span></button>
        }
        <div style="clear:both"></div>
    </div>

    <div class="panel-body">

        @{
            String faqurl = "";

            var db = DependencyResolver.Current.GetService<ModelObjects.DB>();
            if (db.LeagueFaqs.Where(lf => lf.AccountId == Model.AccountId).Any())
            {

                faqurl = RouteTable.Routes.GetVirtualPathForArea(((MvcHandler)HttpContext.Current.CurrentHandler).RequestContext,
                                    new RouteValueDictionary(new { area = "", controller = "LeagueFAQ", action = "Index", accountId = Model.AccountId })).VirtualPath;
            }

            if (!faqurl.IsEmpty())
            {
                <h4>Please visit the <strong><a href="@faqurl">FAQ</a></strong> to learn more about the league.</h4>
            }

        }

        @if (Model.IsAdmin)
        {

            <form class="form-horizontal" data-bind="with: currentEditNews, visible: isEditMode" style="display: none;" id="editNewsForm" role="form">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="newsTitle" class="control-label">Title</label>
                        <input id="newsTitle" name="newsTitle" class="form-control" type="text" data-bind="value: Title" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="control-label">
                            <input type="checkbox" data-bind="checked: SpecialAnnounce" />
                            always display opened
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <textarea data-bind="wysiwyg: Text, wysiwygConfig: { height: 300, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' } "></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-bind="click: $root.saveNews"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.cancelNewsEdit"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </form>

            <div data-bind="if: specialNews().length == 0 && otherNews().length == 0 && olderNews().length == 0">
                <p class="help-block">
                    Click the <button type="button" class="btn btn-default" data-bind="click: $root.startNewsAdd">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button> button to add league announcements.
                </p>
            </div>
        }

        <div class="list-group" data-bind="foreach: specialNews, visible: !isEditMode()">
            <div class="list-group-item">
                <h1 class="list-group-item-heading pull-left">
                    <span data-bind="html: Title"></span>
                </h1>
                @if (Model.IsAdmin)
                {
                    <div class="pull-right">
                        <button class="btn btn-default" data-bind="click: $root.startNewsEdit"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-danger" data-bind="click: $root.deleteNews"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                }
                <div class="clearfix"></div>

                <div class="list-group-item-text" data-bind="html: Text">
                </div>
            </div>
        </div>

        <div id="otherNewsSection" class="panel-group" data-bind="foreach: otherNews, visible: !isEditMode()">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-parent="#otherNewsSection" data-toggle="collapse" data-bind="attr: { href: '#OtherNewsMenuLink_' + Id() }"><span data-bind="html: Title"></span></a><small class="pull-right"><span data-bind="html: Date.DisplayDate"></span></small>
                    </div>
                </div>
                <div data-bind="attr: { id: 'OtherNewsMenuLink_' + Id() }" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            @if (Model.IsAdmin)
                            {
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-bind="click: $root.startNewsEdit"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button type="button" class="btn btn-danger" data-bind="click: $root.deleteNews"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                                <div class="clearfix"></div>
                            }
                            <div data-bind="html: Text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-bind="visible: olderNews().length > 0 && !isEditMode()">
            <div class="col-sm-12">
                <select data-container="body" data-bind="selectPicker: selectedOlderNews, selectPickerOptions: { optionsArray: olderNews }, optionsText: 'Title', optionsCaption: 'select older news item...'"></select>
            </div>
            <div class="col-sm-12" data-bind="with: selectedOlderNews">
                @if (Model.IsAdmin)
                {
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-bind="click: $root.startNewsEdit"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-danger" data-bind="click: $root.deleteNews"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="clearfix"></div>
                }
                <div data-bind="html: Text"></div>
            </div>
        </div>
    </div>
</div>

