@model SportsManager.ViewModels.BirthdayViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Today's Birthdays</h3>
    </div>

    <div class="panel-body">
        <ul class="list-group">
            @if (Model.Birthdays.Any())
            {
                foreach (var bp in Model.Birthdays)
                {
                    <li class='list-group-item'><img onerror="this.style.display = 'none';" class="img-rounded" src="@Url.Content(bp.PhotoURL)" /><span class="h3"> @bp.FirstName @bp.LastName</span></li>
                }
            }
            else
            {
                <li class="list-group-item"><i>No birthdays today</i></li>
            }
        </ul>

    </div>

</div>