@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unexpected Error";
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>

<h2 class="text-danger"><span class="glyphicon glyphicon-exclamation-sign glyphicon-th-large"></span> We are sorry for the inconvenience.</h2>
<div class="alert alert-danger">An unexpected error has occurred while processing your request. Fear not, your error has been logged and we will resolve your issue. You may try to refresh the page, if the error persists you should try a different page.</div>

