@model SportsManager.ViewModels.HandoutsViewModel

@if (!Model.HasHandouts && !Model.IsAdmin)
{
    return;
}

<div class="panel panel-info" id="handouts">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Handouts</h3>

        @if (Model.IsAdmin)
        {
            <h3 class="panel-title" style="float: right;"><button type="button" class="btn btn-default" data-bind="click: startHandoutAdd"><span class="glyphicon glyphicon-plus"></span></button></h3>
        }
        <div style="clear:both"></div>
    </div>

    <div class="panel-body">
        <div class="modal fade" id="deleteHandoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirm Delete Handout</h4>
                    </div>
                    <div class="modal-body">
                        You are about to delete a handout. All data associated with the handout will be permanently deleted. You cannot undo this operation. Are you sure you want to continue?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmHandoutDeleteBtn">Continue</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        @if (Model.IsAdmin)
        {
            <form class="form-horizontal" style="margin-left:10px;" data-bind="visible: !viewMode()">
                <div class="form-group">
                    <label for="enterHandoutDescripton" class="col-sm-3 control-label">description</label>
                    <div class="col-sm-9">
                        <textarea id="newHandoutEditor" data-bind="wysiwyg: handoutDescription, wysiwygConfig: { height: 300, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' }"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <span class="btn btn-default fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select File...</span>
                            <input id="handoutupload" class="form-control" type="file" data-maxfilesize="1">
                        </span>
                    </div>
                    <div class="col-sm-9">
                        <span id="handoutSelectedFileName" class="form-control" data-bind="html: selectedFileName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" id="handoutUploadBtn" class="btn btn-primary" data-bind="visible: readyToUpload">Upload</button>
                    <span class="alert alert-info col-sm-4" data-bind="visible: isUploading">Uploading...</span>
                </div>
            </form>
        }
        
        @if (Model.IsAdmin)
        {
            <form data-bind='visible: $root.editHandoutMode'>
                <h3 class="list-group-item-heading" data-bind="html: handoutEdit_FileName"></h3>

                <div class="form-group">
                    <label for="handoutEditor" class="sr-only">description</label>
                    <div class="col-sm-12">
                        <textarea id="handoutEditor" data-bind="wysiwyg: handoutEdit_Description, wysiwygConfig: { height: 300, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' } "></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-primary" data-bind="click: $root.saveHandout"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.endHandoutEdit"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </form>            
        }
        
        <ul class="list-group" data-bind="foreach: handouts, visible: !editHandoutMode()">
            <li class="list-group-item">
                <div data-bind="visible: viewMode">
                    <h3 class="list-group-item-heading" data-bind="html: FileName"></h3>
                    <p class="list-group-item-text" data-bind="html: Description"></p>
                    <div class="well">
                        <a class="btn btn-primary" data-bind="attr: { href: HandoutURL, title: FileName }">Download File</a>
                    </div>
                    @if (Model.IsAdmin)
                    {
                        <form>
                            <div class="form-group">
                                <button type="button" class="btn btn-default" data-bind="click: $root.startHandoutEdit"><span class="glyphicon glyphicon-edit"></span></button>
                                <button type="button" class="btn btn-danger" data-bind="click: $root.deleteHandout"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </form>
                    }
                </div>
            </li>
        </ul>
        @if (Model.IsAdmin)
        { 
            <p class="help-block" data-bind='if: handouts().length == 0'>
                click the <button type="button" class="btn btn-default" data-bind="click: startHandoutAdd"><span class='glyphicon glyphicon-plus'></span></button> button to add handouts.
            </p>
        }
    </div>
</div>


