@model SportsManager.ViewModels.PhotoGalleryViewModel

@if (!Model.HasPhotos && !Model.IsAdmin)
{
    return;
}

<div class="panel panel-default" id="photoGallery">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Photo Gallery</h3>
        @if (Model.IsAdmin)
        {
            <button type="button" style="float: right;" class="btn btn-default" data-bind="click: startEditMode"><span class="glyphicon glyphicon-plus"></span></button>
        }
        <div style="clear:both"></div>
    </div>

    <div class="panel-body">

        @if (Model.IsAdmin) { 
            <form class="form-horizontal" style="margin-left:10px;" data-bind="visible: !viewMode()">
                <div class="form-group">
                    <label for="enterPhotoGalleryTitle" class="col-sm-4 control-label">photo title</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="enterPhotoGalleryTitle" placeholder="enter title" data-bind="value: photoGalleryTitle" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="enterPhotoGalleryCaption" class="col-sm-4 control-label">photo caption</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="enterPhotoGalleryCaption" placeholder="enter caption" data-bind="value: photoGalleryCaption" />
                    </div>
                </div>
                @if (!Model.IsTeamEdit)
                { 
                    <div class="form-group">
                        <label for="photoAlbumSelect" class="col-sm-4 control-label">photo album</label>
                        <div class="col-sm-8">
                            <select data-bind="options: photoAlbums, optionsText: 'name', optionsValue: 'id', value: selectedPhotoAlbum" data-container="body" id="photoAlbumSelect"></select>
                            <button class="btn btn-danger" data-bind="click: deletePhotoAlbum, enable: selectedPhotoAlbum() > 0"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPhotoAlbumName" class="col-sm-4 control-label">add photo album</label>
                        <div class="col-sm-5">
                            <input class="form-control" data-bind="value: newPhotoAlbumName" id="newPhotoAlbumName" type="text" placeholder="enter new photo album name" />
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-success" data-bind="click: addPhotoAlbum"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-sm-4">
                        <span class="btn btn-default fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Select File...</span>
                            <input id="photogalleryupload" class="form-control" type="file" data-maxfilesize="1">
                        </span>
                    </div>
                    <div class="col-sm-8">
                        <span id="photoGallerySelectedFileName" class="form-control" data-bind="html: selectedFileName"></span>
                    </div>
                </div>

                <div id="pg" class="form-group">
                </div>
            </form>
        }
        
        @if (Model.IsAdmin)
        {
            <p class="help-block" data-bind='if: photoGalleryItemsCount() == 0'>
                click the <button type="button" class="btn btn-default" data-bind="click: startEditMode"><span class='glyphicon glyphicon-plus'></span></button> button to add photos.
            </p>
        }
        
        <div data-bind="if: photoGalleryItemsCount() > 0">
            <div id="photoGalleryCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                @*<ol style="max-height:22px;overflow:hidden" class="carousel-indicators" data-bind="foreach: new Array(photoGalleryItemsCount())">
                    <li data-target="#photoGalleryCarousel" data-bind="attr: { 'data-slide-to': $index() }, css: {'active': $index()==0}" class="active"></li>
                </ol>*@
                <div class="carousel-inner" data-bind="foreach: photoGalleryItems">
                    <div class="item" data-bind="css: {'active': $index()==0}">
                        <img class="img-responsive" data-bind="attr: {src: photoUrl, alt: photoHeading }">
                        <div class="carousel-caption">
                            <div data-bind="visible: viewMode">
                                <h4 style="color: antiquewhite" data-bind="text: photoHeading"></h4>
                                <span style="color: antiquewhite" data-bind="text: photoCaption"></span>
                                @if (Model.IsAdmin)
                                {
                                    <div data-bind="if: photoHeading() != '[deleted]'">
                                        <button type="button" class="btn btn-default" data-bind="click: $root.editPhoto"><span class="glyphicon glyphicon-edit"></span></button>
                                        <button type="button" class="btn btn-danger" data-bind="click: $root.deletePhoto"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                }
                            </div>
                            @if (Model.IsAdmin)
                            { 
                            <div data-bind="visible: !viewMode()">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="enterPhotoGalleryTitle" class="col-sm-3 control-label">title</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="enterPhotoGalleryTitle" placeholder="enter title" data-bind="value: photoHeading" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="enterPhotoGalleryCaption" class="col-sm-3 control-label">caption</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="enterPhotoGalleryCaption" placeholder="enter caption" data-bind="value: photoCaption" />
                                        </div>
                                    </div>
                                    @if (!Model.IsTeamEdit)
                                    { 
                                    <div class="form-group">
                                        <label for="photoAlbumSelect" class="col-sm-3 control-label">album</label>
                                        <div class="col-sm-9">
                                            <select data-bind="options: $root.photoAlbums, optionsText: 'name', optionsValue: 'id', value: photoAlbumId" data-container="body" class="photoGalleryItemAlbum"></select>
                                        </div>
                                    </div>
                                    }
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success" data-bind="click: $root.savePhoto"><span class="glyphicon glyphicon-ok"></span></button>
                                        <button type="button" class="btn btn-danger" data-bind="click: $root.endEditPhoto"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </form>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#photoGalleryCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#photoGalleryCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>