@model SportsManager.ViewModels.PlayerSurveyViewModel

<div class="panel panel-info" id="playerSurveyView">
    <div class="panel-heading">

        <!-- ko if: playerSurvey -->
        <img class="img-rounded img-responsive" style="display:inline-block" onerror="this.style.display = 'none';" data-bind="attr: { src: playerSurvey().PhotoUrl }" />
        <span class="h3" data-bind="html: 'Spotlight on ' + playerSurvey().FirstName() + ' ' + playerSurvey().LastName()"></span>
        <!-- /ko -->
        <!-- ko ifnot: playerSurvey -->
        <h3 class="panel-title">Spotlight on...</h3>
        <!-- /ko -->
    </div>

    <div class="panel-body">
        <div data-bind="if: isLoading">
            <img src="/Images/busy.gif" />Loading...
        </div>
        <div data-bind="ifnot: isLoading">
            <h4 data-bind="html: question"></h4>
            <p class="alert alert-info" style="margin-bottom: 20px" data-bind="html: answer"></p>
        </div>
        <div>
            View all player surveys @Html.ActionLink("here", "Index", "PlayerSurvey", new { area = "", accountId = Model.AccountId }, new { @class="btn btn-default"})
        </div>
    </div>
</div>
