@model SportsManager.ViewModels.SponsorsViewModel
@using System.Collections.Generic;

<div class="panel panel-info" id="sponsorsView">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Sponsors</h3>

        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float: right" data-bind="click: enterAddSponsorMode"><span class="glyphicon glyphicon-plus"></span></button>
        }

        <div style="clear:both"></div>
    </div>

    <div class="panel-body">
        @if (Model.IsAdmin)
        {
            <div class="modal fade" id="deleteSponsorModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="deleteModalLabel">Confirm Delete Sponsor</h4>
                        </div>
                        <div class="modal-body" id="deleteModalBody">
                            You are about to delete a sponsor. All data associated with the sponsor will be permanently deleted. You cannot undo this operation. Are you sure you want to continue?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteBtn">Continue</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


            <form data-bind="with: currentSponsor, visible: editSponsorMode">
                <div class="form-group">
                    <label for="sponsor_Name" class="control-label">Sponsor Name</label>
                    <input id="sponsor_Name" class="form-control" type="text" data-bind="value: Name" />
                </div>
                <div class="form-group">
                    <label for="sponsor_Website" class="control-label">Website</label>
                    <input id="sponsor_Website" class="form-control" type="text" data-bind="value: Website" />
                </div>
                <div class="form-group">
                    <label for="sponsor_EMail" class="control-label">Email</label>
                    <input id="sponsor_EMail"class="form-control" type="text" data-bind="value: EMail"/>
                </div>
                <div class="form-group">
                    <label for="sponsor_Description" class="control-label">Description</label>
                    <textarea id="sponsor_Description" class="form-control" rows='5' data-bind="value: Description">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="sponsor_Phone" class="control-label">Phone</label>
                    <input id="sponsor_Phone" class="form-control" type="text" data-bind="phoneNumber: Phone" />
                </div>
                <div class="form-group">
                    <label for="sponsor_StreetAddress" class="control-label">Address</label>
                    <input id="sponsor_StreetAddress" class="form-control" type="text" data-bind="value: StreetAddress" />
                </div>
                <div class="form-group">
                    <label for="sponsor_CityStateZip" class="control-label">City, State Zip</label>
                    <input id="sponsor_CityStateZip" class="form-control" type="text" data-bind="value: CityStateZip" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="button" data-bind="click: $root.submitChanges"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-danger" type="button" data-bind="click: $root.clearEditValues"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </form>
        }

        <ul class="list-group" data-bind="foreach: sponsors, visible: !editSponsorMode()">
            <li class="list-group-item">
                <img @if (!Model.IsAdmin) { <text> onerror="this.style.display = 'none';" </text>    } else { <text> alt="drop logo" onerror="this.style.width = '170px'; this.style.height='130px';" </text> } data-bind='imageUploader: fileUploaderUrl, attr: { src: LogoURL }' class="img-responsive img-rounded" />
                <h3 data-bind="html: Name"></h3>
                <address style="margin: 5px">
                    <a target="_blank" data-bind="attr: { href: Website }"><span data-bind="html: Website"></span></a>
                    <a data-bind="attr: { href: 'mailto:' + EMail() }"><span data-bind="html: EMail"></span></a>
                    <div data-bind="html: Phone"></div>
                </address>
                <address style="margin: 5px">
                    <div data-bind="html: StreetAddress"></div>
                    <div data-bind="html: CityStateZip"></div>
                </address>
                <div class="well" data-bind="html: Description, visible: Description() && Description().length > 0"></div>
                @if (Model.IsAdmin)
                {
                    <button type="button" class="btn btn-default" data-bind="click: $root.enterEditSponsorMode"><span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.promptDeleteSponsor"><span class="glyphicon glyphicon-remove"></span></button>
                }
</li>
        </ul>
    </div>
</div>
