@model SportsManager.ViewModels.AccountViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Twitter</h3>
    </div>
    <div class="panel-body">

        @if (Model.IsAdmin)
        {
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-3">Twitter Widget:</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" class="form-control" data-bind="value: twitterScript" placeholder="paste twitter widget code here" />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" data-bind="click: saveTwitterScript">save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <span>Click <a href='https://twitter.com/settings/widgets' target="twitter">here</a> to visit Twitter to create a widget.</span><br /><br />
            </form>
        }

        <div data-bind="html: htmlTwitterScript"></div>
    </div>
</div>
