@model SportsManager.ViewModels.UserPollViewModel
@using System.Collections.Generic;

<div class="panel panel-info" id="userPollView">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">User Polls</h3>

        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float: right" title="toggle view inactive polls" data-bind="click: toggleInactivePolls"><span class="glyphicon glyphicon-expand"></span></button>
            <button type="button" class="btn btn-default" style="float: right" data-bind="click: newPoll" title="create new poll"><span class="glyphicon glyphicon-plus"></span></button>
        }

        <div style="clear:both"></div>
    </div>

    <div class="panel-body">
        @if (Model.IsAdmin)
        {
            <div class="modal fade" id="deleteUserPollModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="deleteModalLabel">Confirm Delete Poll</h4>
                        </div>
                        <div class="modal-body" id="deleteModalBody">
                            You are about to delete a user poll. All data associated with the poll will be permanently deleted. You cannot undo this operation. Are you sure you want to continue?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteBtn">Continue</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteUserPollOptionModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="deleteModalLabel">Confirm Delete Poll Option</h4>
                        </div>
                        <div class="modal-body" id="deleteModalBody">
                            You are about to delete a user poll option for which users have voted. All votes associated with the option will be permanently deleted. You cannot undo this operation. Are you sure you want to continue?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmOptionDeleteBtn">Continue</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <form data-bind="with: currentPoll, visible: editPollMode">
                <div class="form-group">
                    <label class="control-label">Question</label>
                    <input class="form-control" type="text" data-bind="value: Question" placeholder="enter question" />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" data-bind="checked: Active" />
                        </span>
                        <input type="text" class="form-control" readonly="readonly" value="Active" />
                    </div><!-- /input-group -->
                </div>
                <div class="form-group">
                    <div class="list-group">
                        <h5 class="list-group-item-heading">Options</h5>
                        <!-- ko foreach: Results -->
                        <div class="list-group-item">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" data-bind="click: $parent.moveOptionUp" title="move option up"><span class="glyphicon glyphicon-arrow-up"></span></button>
                                    <button class="btn btn-default" type="button" data-bind="click: $parent.moveOptionDown" title="move option down"><span class="glyphicon glyphicon-arrow-down"></span></button>
                                </div>
                                <input class="form-control" type="text" data-bind="value: OptionText" />
                                <div class="input-group-btn">
                                    <button class="btn btn-danger" type="button" data-bind="click: $parent.removeOption" title="remove option"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" data-bind="value: Results.NewOptionText" placeholder="enter option" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" title="add option" data-bind="click: addOption"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="button" title="save changes" data-bind="click: $parent.saveChanges"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-danger" type="button" title="cancel changes" data-bind="click: $parent.cancelEdit"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </form>
        }

        <div class="list-group" data-bind="foreach: userPolls, visible: !editPollMode()">

            <div class="list-group-item">
                <h5 class="list-group-item-heading"><span data-bind="html: Question"></span><small data-bind="html: Active() ? '' : 'inactive'"></small></h5>
                <div class="list-group-item-text">
                    <form data-bind="foreach: Results">
                        @if (Model.CanVote)
                        { 
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="radio" data-bind="checked: $parent.OptionSelected.NewOption, attr: { name: $parent.Id, value: OptionId }">
                                </span>
                                <input type="text" class="form-control" readonly="readonly" data-bind="value: OptionText" />
                            </div><!-- /input-group -->
                        }
                        else
                        {
                            <h6 data-bind="html: OptionText"></h6>
                        }

                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="style: { width: (TotalVotes() / $parent.totalVotes() * 100) + '%', 'aria-valuenow': (TotalVotes() / $parent.totalVotes() * 100) }">
                                <span data-bind="html: TotalVotes"></span>
                            </div>
                        </div>
                    </form>

                    @if (Model.CanVote)
                    { 
                        <div data-bind="ifnot: HasVoted">
                            <button type="button" class="btn btn-primary" data-bind="click: vote, enable: OptionSelected.NewOption">vote</button>
                        </div>
                        <div data-bind="if: HasVoted">
                            <h6>You voted: <span data-bind="html: OptionSelected.Text"></span></h6> 
                            <button type="button" class="btn btn-primary" data-bind="click: revote, enable: OptionSelected.NewOption">change vote</button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">Login to vote!</div>
                    }
                    
                    <h6><span data-bind="html: totalVotes"></span> total votes.</h6>


                    @if (Model.IsAdmin)
                    {
                        <button type="button" class="btn btn-default" title="edit poll" data-bind="click: $root.editPoll"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-danger" title="delete poll" data-bind="click: $root.deletePoll"><span class="glyphicon glyphicon-remove"></span></button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

