@model SportsManager.ViewModels.VideoViewModel
@using System.Collections.Generic;

<div class="row">
    <div id="videos" data-bind="visible: videosVisible">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="float: left;">Videos</h3>
                    <div style="clear:both"></div>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-3">select video</label>
                            <div class="col-sm-9">
                                <select data-container="body" class="form-control" data-bind="selectPicker: selectedVideo, selectPickerOptions: { optionsArray: videoEntries }, optionsText: 'title', optionsCaption: 'select a video...'"></select>
                            </div>
                        </div>

                        @if (Model.IsAdmin)
                        {
                            <div class="form-group">
                                <label class="control-label col-sm-4">YouTube User Id <span data-bind="click: toggleShowHelp" class="glyphicon glyphicon-question-sign" title="what's this?'" style="cursor: pointer"></span>:</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input class="form-control" type="text" data-bind="value: userId" placeholder="enter your YouTube id" />
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-success" data-bind="click: saveUserId"><span class="glyphicon glyphicon-ok"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div data-bind="visible: showHelp">
                                <h3>Step 1: Go to YouTube and Login to your account.</h3>
                                <img class="img-responsive" src="~/Images/youtube/youtube1.png" />
                                <h3>Step 2: Go to your account settings.</h3>
                                <img class="img-responsive" src="~/Images/youtube/youtube2.png" />
                                <h3>Step 3: Click on advanced settings.</h3>
                                <img class="img-responsive" src="~/Images/youtube/youtube3.png" />
                                <h3>Step 4: Copy and Paste your YouTube account id above.</h3>
                                <img class="img-responsive" src="~/Images/youtube/youtube4.png" />
                            </div>
                        }
                    </form>
                    <div class="video-container">
                        <div id="player"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
