
@model SportsManager.Baseball.ViewModels.StandingsViewModel


@{
	ViewBag.Title = Model.AccountName + " Standings";
}

<div class="jumbotron">
    @Header.DisplayHeader("Standings", Model.AccountName, Model.AccountLogoUrl)
</div>

@Html.Partial("_SeasonStandings")

