@model SportsManager.Golf.ViewModels.GolfScoreViewModel


    <tr style="background:#EEEEEE;text-align:center">
        <td style="text-align:left">
        @Model.PlayerName
        @if (Model.InitialAbsent)
        {
            <text> (absent)</text> 
        }
        </td>

        @for (int i = 1; i <= ViewBag.NumberHolesPlayed; i++)
        {
            <td style="text-align:center">@Model.HoleScore(i)</td>
        }
        
        <td style="font-weight:bold;text-align:center">@Model.TotalScore</td> 
    </tr>
        
