@model SportsManager.Golf.ViewModels.LeagueStandingsViewModel

@{
    ViewBag.Title = "League Standings";
}

<h1>@ViewBag.Title</h1>

@if (Model.TeamStandings.Count == 0)
{
    <p>No Completed Regular Season Matches Found!</p>    
}
else
{
    Html.RenderPartial("_LeagueStandings", Model);
}