@model SportsManager.Golf.ViewModels.CompletedMatchViewModel

@{
    ViewBag.Title = "Recent Completed Matches";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

    @{
    var recentMatch = Model.LeagueMatchResults;
    var recentMatchDetails = Model.CompletedMatches;
     }

    @if (recentMatch == null)
    {
        <p>No completed matches found.</p>
    }
    else
    {
        <h4>Matches</h4>
        foreach (var match in recentMatchDetails)
        { 
            <a href='@Url.Action("ShowMatchResults", "Schedule", new { accountId = Model.AccountId, seasonId = Model.SeasonId, flightId = Model.FlightId, id = match.MatchId })' data-role="button" data-theme="b">@String.Format("{0} vs. {1}", match.Team1Name, match.Team2Name)</a>
            
            if (Model.IsAdmin())
            {
                <a href='@Url.Action("MatchResults", "Schedule", new { accountId = Model.AccountId, seasonId = Model.SeasonId, flightId = Model.FlightId, id = match.MatchId })' data-role="button" data-theme="a">Enter Results</a>
            }
        }

        <h4>Results</h4>

        Html.RenderPartial("_LeagueResults", recentMatch);
    }        
