@model SportsManager.Golf.ViewModels.LeagueMatchResultsViewModel

@{
    ViewBag.Title = "League Results";
}

<h1>@ViewBag.Title for @Model.MatchDate.ToString("d")</h1>

@if (Model.TeamScores.Count == 0)
{
    <p>No Completed Regular Season Matches Found!</p>    
}
else
{
    Html.RenderPartial("_LeagueResults");
}