@using System.Web.Optimization
@model SportsManager.Baseball.ViewModels.Controllers.AffiliationHomeViewModel

@{
    ViewBag.Title = @Model.Affiliation.Name + " Home";
}
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>

Leagues:
@Html.DropDownList("affiliatedLeagues", new SelectList(Model.AffiliatedLeagues, "Id", "Name"), new { })

<div id="location">

</div>

@section scripts
{

<script type="text/javascript">

    $(document).ready(function () {
        var x = document.getElementById("location");

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    });

    function showPosition(position) {
        var x = document.getElementById("location");
        x.innerHTML = "Latitude: " + position.coords.latitude + "<br />Longitude: " + position.coords.longitude;
    }

</script>
}