@using System.Web.Optimization

@{
    ViewBag.Title = "Affiliations Home";
}
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>

@section scripts
{

    <script type="text/javascript">

    $(document).ready(function () {
    });

    </script>
}
