@model SportsManager.ViewModels.LeagueSeasonsViewModel
@{
    ViewBag.Title = @Model.AccountName + " Season Setup";
}

@section head {
}

<div id="seasonsetup">
    <div class="jumbotron">
        @Header.DisplayHeader("Season Setup", Model.AccountName, Model.AccountLogoUrl)
        <p class="help-block">Seasons allow you to store a history of your league. Each season contains its own set of teams, players, and statistics.</p>
        <h2 id="currentSeasonDisplay"></h2>
        <div data-bind="visible: seasons().length == 0">
            <h2>Create a season to continue.</h2>
        </div>
        <div data-bind="visible: seasons().length != 0 && currentSeason()">
            <h2>Current Season: <span data-bind="html: currentSeason"></span></h2>
        </div>
        <div data-bind="visible: seasons().length != 0 && !currentSeason()">
            <h2>Select a current season.</h2>
        </div>
        <p class="help-block">To set a new season, select any existing season below or create a new season.</p>
    </div> <!-- jumbotron -->

    <div class="container">
        <form class="form-inline" role="form" style="margin-top:20px">
            <small>add season</small><br />
            <div class="form-group">
                <label for="newSeasonName" class="sr-only">Season Name</label>
                <div class="input-group">
                    <input id="newSeasonName" style="width:300px" type="text" class="form-control" placeholder="enter season name" pattern=".{1,}" title="Must supply a name" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" onclick="javascript: seasonSetupData.addSeason()"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
        </form>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Confirm Delete Season</h4>
                    </div>
                    <div class="modal-body">
                        You are about to delete a season. All data associated with the season will be permanently deleted. You cannot undo this operation. Are you sure you want to continue?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteBtn">Continue</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion" data-bind="foreach: seasons">
            <div class="panel panel-default">
                <div class="panel-heading"> 
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#" data-bind="html: Name, attr: { href: '#' + Id() }"></a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" data-bind="attr: { id: Id }">
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <small>update season name</small><br />
                            <div class="form-group">
                                <label data-bind="uniqueFor: Id" class="sr-only">Season Name</label>
                                <div class="input-group">
                                    <input data-bind="uniqueId: Id, value: Name" type="text" class="form-control" placeholder="enter season name" pattern=".{1,}" title="Must supply a name" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-danger" data-bind="enabled: !Id.deleting(), click: $root.deleteSeason"><span class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <br />
                        <button type="button" class="btn btn-success" data-bind="click: $root.setCurrentSeason">Set as Current</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section scripts
{
        @Scripts.Render("~/bundles/knockout")

        <script type="text/javascript" src="~/Scripts/seasonsetup.js"></script>

        <script type="text/javascript">

            $(document).ready(function () {
                initSeasonData(@Model.AccountId)
            });

        </script>
    }
