@model SportsManager.Golf.ViewModels.PlayerViewModel

@{
    ViewBag.Title = ViewData["Title"];
}

@section menu {
}

@section head {
}


<h1>@ViewBag.Title</h1>

@{
    Html.EnableClientValidation();   
}

@using (Html.BeginForm()) {

    @Html.EditorForModel()            
    <input type="submit" value="Save" />
    
    if (ViewBag.TeamId == 0)
    {
        @Html.ActionLink("Cancel", "SubsIndex", "Rosters", new { accountId = ViewBag.AccountId, seasonId = ViewBag.SeasonId, id = ViewBag.TeamId }, null)
    }
    else
    { 
        @Html.ActionLink("Cancel", "Index", "Rosters", new { accountId = ViewBag.AccountId, seasonId = ViewBag.SeasonId, flightId = ViewBag.FlightId, id = ViewBag.TeamId }, null)
    }
}

