@model IEnumerable<SportsManager.Golf.ViewModels.PlayerViewModel>
@using MvcContrib.UI.Grid;

@{
    ViewBag.Title = "Subs";
}

<h1>@ViewBag.Title</h1>


<div id="BasicGrid">

@Html.Grid(Model).AutoGenerateColumns().Columns(extraCols => 
    {
        extraCols.For(x => Html.ActionLink("edit", "Edit", new { accountId = ViewData["AccountId"], seasonId = ViewData["SeasonId"], flightId = 0, teamId = 0, id = x.Id }));
        extraCols.For(x => Html.ActionLink("delete", "Delete", new { accountId = ViewData["AccountId"], seasonId = ViewData["SeasonId"], flightId = 0, teamId = 0, id = x.Id }));
        extraCols.For(x => Html.ActionLink("release", "Release", new { accountId = ViewData["AccountId"], seasonId = ViewData["SeasonId"], flightId = 0, teamId = 0, id = x.Id }));
    })

</div>

<br />
@Html.ActionLink("Create Sub", "Create", "Rosters", new { accountId = ViewBag.AccountId, seasonId = ViewBag.SeasonId, flightId = 0, id = 0 }, null)
@Html.ActionLink("Sign Sub", "SignPlayer", "Rosters", new { accountId = ViewBag.AccountId, seasonId = ViewBag.SeasonId, flightId = 0, id = 0 }, null)

